.all{
    width: 70%;
    margin: 3rem auto;
    .title{
        display: block;
        margin: auto;
        text-align: center;
        font-size: 2rem;
        font-weight: 600;
    }
    .productsGallery{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 2rem auto;
    }
}


.viewBtn{
    display: block;
    width: 7rem;
    height: 2rem;
    margin: 3rem auto;
    font-weight: 600;
    background-color: var(--dark-white-color);
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    .arrows{
        color:var(--primary-color);
        font-size: 1rem;
    }
}