:root {
  --primary-color: #cc0226;
   --dark-secondary-color:#707070;
  --secondary-color: #6b6b6b;
--light-secondary-color:#D3D3D3;
  --white-color:#ffffff;
  --dark-white-color:#F5F5F5;
  --black-color: #000000;



  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
}
