:root {
  --primary-color: #cc0226;
  --dark-secondary-color: #707070;
  --secondary-color: #6b6b6b;
  --light-secondary-color: #d3d3d3;
  --white-color: #ffffff;
  --dark-white-color: #f5f5f5;
  --black-color: #000000;

  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}

body {
  font-family: "Cairo", sans-serif;
}
