.footer {
  .footerInfo {
    display: flex;
    width: 70%;
    margin: 3rem auto;
    .description {
      width: 100%;
      p {
        width: 80%;
        overflow: visible;
      }
    }
    .contact {
      p {
        width: 60%;
      }
      .icons {
        svg{
          margin: 1rem;
        }
      }
    }
  }
  .copyrights {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-weight: 700;
    }
    .image {
      display: flex;
      align-items: center;
     
      img {
        margin-left: 0.5rem;
      }
    }
  }
}

@media screen and (max-width:800px){
.footer{
  .footerInfo {
    flex-direction: column;
    width: 90%;
    img{
      display: block;
      margin: 1rem auto;
    }
    p{
      width: 100% !important;
    }
    h3{
      text-align: center;
    }
    .icons{
      display: flex;
      justify-content: center;
    }
  }
}
  
  .copyrights{
    flex-direction: column;
  }
}